<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>360</integer>
    <key>angleVariance</key>
    <integer>360</integer>
    <key>blendFuncDestination</key>
    <integer>771</integer>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>duration</key>
    <integer>-1</integer>
    <key>emitterType</key>
    <integer>1</integer>
    <key>finishColorAlpha</key>
    <integer>0</integer>
    <key>finishColorBlue</key>
    <real>0.7333333333333333</real>
    <key>finishColorGreen</key>
    <real>0.9686274509803922</real>
    <key>finishColorRed</key>
    <integer>1</integer>
    <key>finishColorVarianceAlpha</key>
    <integer>0</integer>
    <key>finishColorVarianceBlue</key>
    <integer>0</integer>
    <key>finishColorVarianceGreen</key>
    <integer>0</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>finishParticleSize</key>
    <integer>0</integer>
    <key>finishParticleSizeVariance</key>
    <integer>0</integer>
    <key>gravityx</key>
    <real>0.25</real>
    <key>gravityy</key>
    <real>0.8600000143051147</real>
    <key>maxParticles</key>
    <integer>5</integer>
    <key>maxRadius</key>
    <integer>40</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>80</integer>
    <key>particleLifespan</key>
    <integer>2</integer>
    <key>particleLifespanVariance</key>
    <integer>1</integer>
    <key>radialAccelVariance</key>
    <real>65.79000091552734</real>
    <key>radialAcceleration</key>
    <real>-671.0499877929688</real>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>140</integer>
    <key>rotationEndVariance</key>
    <integer>0</integer>
    <key>rotationStart</key>
    <integer>10</integer>
    <key>rotationStartVariance</key>
    <integer>5</integer>
    <key>sourcePositionVariancex</key>
    <integer>1</integer>
    <key>sourcePositionVariancey</key>
    <integer>1</integer>
    <key>sourcePositionx</key>
    <real>373.7277526855469</real>
    <key>sourcePositiony</key>
    <real>478.40472412109375</real>
    <key>speed</key>
    <integer>0</integer>
    <key>speedVariance</key>
    <real>190.7899932861328</real>
    <key>startColorAlpha</key>
    <integer>1</integer>
    <key>startColorBlue</key>
    <real>0.15294117647058825</real>
    <key>startColorGreen</key>
    <real>0.9647058823529412</real>
    <key>startColorRed</key>
    <integer>1</integer>
    <key>startColorVarianceAlpha</key>
    <integer>0</integer>
    <key>startColorVarianceBlue</key>
    <integer>0</integer>
    <key>startColorVarianceGreen</key>
    <integer>0</integer>
    <key>startColorVarianceRed</key>
    <integer>0</integer>
    <key>startParticleSize</key>
    <integer>25</integer>
    <key>startParticleSizeVariance</key>
    <integer>15</integer>
    <key>tangentialAccelVariance</key>
    <real>65.79000091552734</real>
    <key>tangentialAcceleration</key>
    <real>-92.11000061035156</real>
    <key>spriteFrameUuid</key>
    <string>6fa93360-7fee-4fc2-af42-81838c8878bc</string>
    <key>positionType</key>
    <integer>1</integer>
    <key>rotationIsDir</key>
    <false/>
    <key>minRadiusVariance</key>
    <integer>30</integer>
    <key>emissionRate</key>
    <real>999.999985098839</real>
  </dict>
</plist>